@font-face {
    font-family: gilroy-bold;
    src: url(../assets/fonts/Gilroy-FREE/Gilroy-ExtraBold.otf);
  }
  @font-face {
    font-family: gilroy-light;
    src: url(../assets/fonts/Gilroy-FREE/Gilroy-Light.otf);
  }

body{
    font-family: 'gilroy-light';
    background: #FDFDFD;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    height: 0em;
    width: 0.3vw;
  }
   
body::-webkit-scrollbar-track {
  }
   
body::-webkit-scrollbar-thumb {
    border-radius: 3.5vw;  
    background-color: rgb(73, 73, 73);
  }
.app-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1vw;
    padding: 0vw 0vw;
    justify-content: center;
}
.app-counter{
    width: 100%;
    margin-top: 1.5vw;
    height: 34vw;
    display: flex;
    flex-direction: row;
    margin-left: 0vw;
}
.app-illustration{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.app-ills-dots{
    width: 8.5vw;
    top: 11vw;
    position: absolute;
    left: 51vw;
}
.app-ills-main{
    width: 23vw;
    height: 19vw;
    margin-left: -6vw;
    z-index: 1;
    background: rgb(255, 255, 255);
    box-shadow: 0vw 0vw 20px #ebebeb;
    border-radius: 0.75vw;
    margin-top: -5.6vw;
}
.app-ills-main-text{
 margin-left: 3.5vw;
 color: #cecece;
 width: 63%;
 margin-top: 2.2vw;
 line-height: 30px;
 font-size: 1.25vw;
}

.app-ills-main-title{
    width: 90%;
    margin-top: 3.2vw;
    margin-left: 3.5vw;
    font-size: 2vw;
    text-align: right;
}
.app-ills-ring{
    width: 7vw;
    top: 29.5vw;
    position: absolute;
    left: 74vw;
}
.app-head{
    width: 50%;
}
.app-title{
    width: 15vw;
    font-size: 4vw;
    margin: 1vw 0vw;
    margin-left: 18vw;
    font-family: 'gilroy-bold';
    color: #363636;
}
.app-text{
    margin-top: 2vw;
    width: 20vw;
    color: #9e9e9e;
    line-height: 35px;
}


.app-switch{
    background: #a6e6bb;
    border: 0px;
    margin-top: 1.8vw;
    color: #ffffff;
    font-size: 1.4vw;   
    border-radius: 0.5vw;
    margin-left: 18vw;
    padding: 2vw 4vw;
    font-family: 'gilroy-light';
    transition: 0.3s all;
    outline: none;
    cursor: pointer;
}


.app-ft{
    width: 100%;
    background: #fff;
    height: 5vw;
    display: flex;
    align-items: center;
}
.app-cpr{
    margin-left: 7vw;
    font-size: 0.95vw;
}

@media only screen and (max-device-width:480px){
    body{
        font-family: 'gilroy-light';
        background: #FDFDFD;
        overflow-x: hidden;
    }
    body::-webkit-scrollbar {
        height: 0em;
        width: 0.3vw;
      }
       
    body::-webkit-scrollbar-track {
      }
       
    body::-webkit-scrollbar-thumb {
        border-radius: 3.5vw;  
        background-color: rgb(73, 73, 73);
      }
    .app-cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1vw;
        padding: 0vw 0vw;
        justify-content: center;
    }
    .app-counter{
        width: 100%;
        margin-top: 1.5vw;
        height: 94vw;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        margin-left: 0vw;
    }
    .app-illustration{

        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 70vw;
    }
    .app-ills-dots{
        width: 18.5vw;
        top: 13vw;
        position: absolute;
        left: 11vw;
    }
    .app-ills-main{
        width: 59vw;
        height: 54vw;
        margin-left: -6vw;
        z-index: 1;
        background: rgb(255, 255, 255);
        box-shadow: 0vw 0vw 20px #ebebeb;
        border-radius: 1.75vw;
        
    }
    .app-ills-main-text{
     margin-left: 8.5vw;
     color: #cecece;
     width: 63%;
     margin-top: 1.2vw;
     line-height: 30px;
     font-size:3.5vw;
    }
    
    .app-ills-main-title{
        width: 90%;
        margin-top: 6.2vw;
        margin-left: 8.5vw;
        font-size: 5.75vw;
        text-align: right;
    }
    .app-ills-ring{
        width: 18vw;
        top: 62vw;
        position: absolute;
        left: 67vw;
    }
    .app-head{
        width: 100%;
        margin-top: 15vw;
    }
    .app-title{
        width: 45vw;
        font-size: 12vw;
        margin: 1vw 0vw;
        margin-left: 18vw;
        font-family: 'gilroy-bold';
        color: #363636;
    }
    .app-text{
        margin-top: 2vw;
        width: 20vw;
        color: #9e9e9e;
        line-height: 35px;
    }
    
    
    .app-switch{
        background: #a6e6bb;
        border: 0px;
        margin-top: 6.8vw;
        color: #ffffff;
        font-size: 5.24vw;   
        border-radius: 1.25vw;
        margin-left: 18vw;
        padding: 6vw 10vw;
        font-family: 'gilroy-light';
        transition: 0.3s all;
        outline: none;
        cursor: pointer;
    }
    
    
    .app-ft{
        width: 100%;
        background: transparent;
        margin-top: 70vw;
        height: 0vw;
        display: flex;
        align-items: center;
    }
    .app-cpr{
        margin-left: 7vw;
        font-size: 0vw;
    }
}
