.card-bg{
    width: 100vw;
    height: 100%;
    background: rgba(104, 104, 104, 0.808);
    position: fixed;
    top: 0vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 53vw;
    height: 31vw;
    background: #fff;
    border-radius: 0.75vw;
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
}
.card-close{
    position: absolute;
    width: 53vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 0vw;
}
.card-close-button{
    width: 2vw;
    height: 2vw;
    margin: 1vw 1.8vw;
    cursor: pointer;
    display: flex;
    border-radius: 3vw;
    font-size: 1.15vw;
    justify-content: center;
    align-items: center;
    background: rgb(230, 230, 230);
}
.card-l{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-left: 0vw;
    margin-top: 0vw;
}
.card-img{
    width: 100%;
    background: rgb(238, 238, 238);
    height: 100%;
    background-size: cover;
    border-radius: 0.75vw 0vw 0vw 0.75vw;
    display: flex;
}
.card-img-gradient{
    width: 100%;
    height: 100%;
    margin-top: 0%;
    background-size: cover;
    border-radius: 0.75vw 0vw 0vw 0.75vw;
    background: #272727d0;
}
.card-tr{
    font-size: 0.95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    margin: 0vw;
    padding: 1.1vw 0.1vw;
    border-radius:0.35vw;
    background: #fcc8c8;
    color: #cc6161;
    margin-top: 1.75vw;
}
.card-r{
    width: 50%;
    height: 80%;
    margin-top: 3vw;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-title{
    margin: 0vw;
    margin-top:2.4vw;
    margin-left: 2vw;
    width: 18vw;
    font-size: 2vw;
    font-family: 'gilroy-bold';
    text-transform: uppercase;
    color: #ffffff;
    line-height: 44px;
}
.card-genre{
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
}
.genre-item{
    text-transform: uppercase;
    padding: 0.5vw 0.75vw;
    background: #f0f0f0;
    margin: 0.2vw 0.75vw;
    margin-left: 0vw;
    font-size: 0.8vw;
    border-radius:0.5vw;
}
.card-text{
    width:23vw;
    margin-top: 1vw;
    margin-bottom: 2.1vw;
    line-height: 26px;
    font-size: 0.96vw;
    color: #646363;
}
.card-rating{
    font-size: 1.03vw;
    margin: 1.1vw 0vw;
    color: #929292;
    font-family: 'gilroy-bold';
    border-radius:0.6vw;
}
.card-add-sp{
    width: 95%;
    display: flex;
    justify-content: flex-end;
}
.card-add{
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3f84df;
    cursor: pointer;
    border-radius: 0.45vw;
    color: #fff;
    height: 4.25vw;
    transition: 0.3s all;
    margin: 0vw 1vw;
    font-family: 'gilroy-bold';
    font-size: 1.2
    5vw;
}
.card-add:hover{
    background: #326dbb;
}

.card-sk{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.card-sk-img{
    width: 25.5vw;
    background: #F5F4F4;
    height: 31vw;
    background-size: cover;
    border-radius: 0.5vw 0vw 0vw 0.5vw;
}
.card-sk-title{
    width: 16vw;
    height: 2.25vw;
    margin-top: 3.3vw;
    margin-left: 2vw;
    background-size: cover;
    border-radius: 0.25vw;
}
.card-sk-text{
    width: 21vw;
    background: #F5F4F4;
    height: 0.75vw;
    margin: 0.7vw 0vw;
    background-size: cover;
    border-radius: 0.2vw;
}
.card-sk-genre{
    width: 10vw;
    margin-top: 1vw;
    margin-bottom:2vw;
    background: #DADADA;
    height: 1.7vw;
    background-size: cover;
    border-radius: 0.2vw;
}.card-sk-add-sp{
    width: 95%;
    margin-top: 8vw;
    display: flex;
    justify-content: flex-end;
}
.card-sk-add{
    width: 8vw;
    text-align: center;
    background: #DADADA;
    border-radius: 0.35vw;
    height: 4vw;
    margin: 0vw 1vw;
    font-family: 'gilroy-bold';
    font-size: 1.5vw;
}
.card-sk-tr{
    width: 7vw;
    background: #F5F4F4;
    height: 3.25vw;
    margin-top: 1.75vw;
    background-size: cover;
    border-radius: 0.35vw;
}
.card-shimmer{
    margin-left: -40vw;
    width: 4vw;
    margin-top: 2vw;
    height:26vw;
    position: absolute;
    background: #fdfdfd;
    animation: card-shim infinite 2.2s;
    box-shadow: 0px 0px 50px  #ffffff;
}

@keyframes card-shim {
    0%{
        transform: translateX(-10px) skewX(-0deg);
        opacity: 0;
    }
    15%{
        opacity: 0.7;
    }
    30%{
        opacity: 0;
        transform: translateX(640px) skewX(-0deg);
    }
    100%{
        opacity: 0;
    }
}