.card-bg{
    width: 100vw;
    height: 100%;
    background: rgba(223, 223, 223, 0.63);
    position: absolute;
    top: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 53vw;
    height: 31vw;
    background: #fff;
    border-radius: 2vw;
    display: flex;
    justify-content: space-around;
}
.card-close{
    position: absolute;
    width: 53vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 0vw;
}
.card-close-button{
    width: 2vw;
    height: 2vw;
    margin: 1vw 1.8vw;
    cursor: pointer;
    display: flex;
    border-radius: 3vw;
    font-size: 1.15vw;
    justify-content: center;
    align-items: center;
    background: rgb(230, 230, 230);
}
.card-l{
    display: flex;
    flex-direction: column;
    width: 27%;
    margin-left: 3vw;
    margin-top: 3vw;
}
.card-img{
    width: 16vw;
    background: rgb(238, 238, 238);
    height: 16vw;
    background-size: cover;
    border-radius: 1.7vw;
}
.card-tr{
    font-family: 'gilroy-bold';
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    margin: 0vw;
    padding: 0.95vw 0.2vw;
    border-radius:0.75vw;
    background: #FFD8D8;
    color: #AC6969;
    margin-top: 1.75vw;
}
.card-r{
    width: 50%;
    height: 80%;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-title{
    margin: 0vw;
    margin-top: 0.3vw;
    font-size: 2.2vw;
    font-family: 'gilroy-bold';
    color: #595959;
}
.card-genre{
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
}
.genre-item{
    text-transform: uppercase;
    padding: 0.5vw 0.75vw;
    background: #f0f0f0;
    margin: 0.2vw 0.7vw;
    margin-left: 0vw;
    font-size: 0.8vw;
    border-radius:0.5vw;
}
.card-text{
    width:23vw;
    margin-top: 1vw;
    margin-bottom: 2.1vw;
    line-height: 25px;
    color: #646363;
}
.card-rating{
    font-size: 1.3vw;
    margin: 0vw;
    padding: 0.5vw 1.2vw;
    border-radius:0.75vw;
    border: 1.5px solid #808080;
    margin-top: 2vw;
}
.card-add-sp{
    width: 96%;
    display: flex;
    justify-content: flex-end;
}
.card-add{
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8996D8;
    border-radius: 1vw;
    color: #fff;
    height: 4vw;
    margin: 0vw 1vw;
    font-family: 'gilroy-bold';
    font-size: 1.4vw;
}

.card-sk{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.card-sk-img{
    width: 16vw;
    background: #F5F4F4;
    height: 16vw;
    background-size: cover;
    border-radius: 1.7vw;
}
.card-sk-title{
    width: 16vw;
    background: #DADADA;
    height: 3.25vw;
    margin-top: 0.3vw;
    background-size: cover;
    border-radius: 0.5vw;
}
.card-sk-text{
    width: 21vw;
    background: #F5F4F4;
    height: 0.75vw;
    margin: 0.7vw 0vw;
    background-size: cover;
    border-radius: 0.2vw;
}
.card-sk-genre{
    width: 10vw;
    margin-top: 1vw;
    margin-bottom:2vw;
    background: #DADADA;
    height: 1.7vw;
    background-size: cover;
    border-radius: 0.4vw;
}.card-sk-add-sp{
    width: 96%;
    display: flex;
    justify-content: flex-end;
}
.card-sk-add{
    width: 8vw;
    text-align: center;
    background: #DADADA;
    border-radius: 0.8vw;
    height: 4vw;
    margin: 0vw 1vw;
    font-family: 'gilroy-bold';
    font-size: 1.5vw;
}
.card-sk-tr{
    width: 7vw;
    background: #F5F4F4;
    height: 3.25vw;
    margin-top: 1.75vw;
    background-size: cover;
    border-radius: 0.5vw;
}
.card-shimmer{
    margin-left: -40vw;
    width: 4vw;
    margin-top: 3vw;
    height:26vw;
    position: absolute;
    background: #fdfdfd;
    animation: card-shim infinite 2.2s;
    box-shadow: 0px 0px 50px  #ffffff;
}

@keyframes card-shim {
    0%{
        transform: translateX(-10px) skewX(-0deg);
        opacity: 0;
    }
    15%{
        opacity: 0.7;
    }
    30%{
        opacity: 0;
        transform: translateX(640px) skewX(-0deg);
    }
    100%{
        opacity: 0;
    }
}