.list{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-top: 1vw;
}

.list-counter{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    justify-content: flex-start;
}
.list-switch{
    background: transparent;  
    color: #535353;
    border: 0px;
    font-size: 1vw;
    border-radius: 0.55vw;

    font-family: 'gilroy-light';
    outline: none;
    margin-top: -0.6vw;
    cursor: pointer;
}
.list-high{
    display: flex;
    margin-top: 3.35vw;
    flex-direction: row;
    align-items: flex-start;
    width: 75vw;
}
.list-inp{
    background: #ffffff;
    box-shadow: 0px 0px 23px #ebebeb;
    font-size: 1vw;
    padding: 1.5vw 2vw;
    padding-left: 5vw;
    border-radius: 0.4vw;
    outline: none;
    width: 37vw;
    border: 0px;
    margin-left: 8vw;
    font-family: 'gilroy-light';
}
.list-inp::placeholder{
    color: #4B4B4B;
}
.list-search-list{
    width: 37vw;
    margin-left: 8vw;
    padding: 0.3vw 0vw;z-index: 2;
    position: absolute;
    background: #f7f7f7;
    border-radius: 0vw 0vw 0.75vw 0.75vw;
}
.list-search-item{
    width: 32vw;
    margin: 0.4vw 0vw;
    margin-left: 1vw;
    padding: 1vw 1.5vw;
    border-radius: 0.5vw;
    font-size: 1vw;
    transition: 0.4s all;
    cursor: pointer;
}
.list-search-item:hover{
    background: #fff;
}
.list-search-icon{
    position: absolute;
    margin-left: 9.8vw;
    margin-top: 1.5vw;
    width: 1.2vw;
}


.list-gr{
    display: flex;
    flex-direction: column;
    padding-top: 1VW;
    width: 23vw;
    height: 25.5vw;
    background: #fff;
    border-radius: 0.75vw;
    box-shadow: 0px 0px 23px #eeeeee;
}
.list-gr-bar{
    margin-left:0vw;
    width: 20vw;
    margin-top: 2.5vw;
}
.chartjs-render-monitor{
    width: 15vw;
}
.list-gr-title{
    display: flex;
    margin: 0vw;
    
    margin-left: 4vw;
    margin-top: 1.55vw;
    flex-direction: row;
    align-items: flex-end;
    font-size: 2.8vw;
    color: #3b3b3b;
    font-family: 'gilroy-light';
}
.list-gr-text{
    font-family:'gilroy-light';
    font-size: 1.35vw;
    margin-left: 1.5vw;
    color: #a5a5a5;
    margin-bottom: 0.4VW;
}
.list-display{
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 5vw;
    background: #fff;
    border-radius: 0.5vw;
    box-shadow: 0px 0px 20px #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:45vw;
    padding: 1vw 0vw;
    border-radius: 0.75vw;
    height: 24.5vw;
}

.list-display::-webkit-scrollbar {
    width: 0.2em;
  }
   
  .list-display::-webkit-scrollbar-track{
  }
   
  .list-display::-webkit-scrollbar-thumb {
    border-radius: 1.5vw;  
    background-color: rgb(160, 160, 160);
  }
.list-item{
    display: flex;
    width: 45vw;
    margin-top: 1.65vw;
    border-radius: 0.65vw;
    align-items: flex-start;
    flex-direction: row;
}
.list-item-sq{
    background: #fff;
    border-radius: 0.75vw;
    width: 3vw;
    height: 3vw;
}
.list-item-name-sp{
    margin: 0vw 3.2vw;
}
.list-item-name{
    color: #4B4B4B;
    line-height: 30px;
    width: 17vw;
    margin-top: 1vw;
    font-size: 1.1vw;
}
.list-item-date{
    color: #a5a5a5;
    width: 6.25vw;
    margin-left: 0.1vw;
}
.list-item-pr{
    width: 19vw;
    height: 0.3vw;
    border-radius: 2vw;
    background: #C5F5E6;
    display: flex;
}
.list-item-pr-tr{
    height: 0.3vw;
    border-radius: 2vw;
    background: #1e6850;
}
select {
    background: rgb(22, 63, 109);
    outline: none;
    color: #ffffff;
    padding: 0.5vw 0.7vw;
    border-radius: 0.2vw;
    border: 0px;
}
.list-item-episode{
    cursor: pointer;
    margin: 0.5vw 0vw;
}
select::-webkit-scrollbar {
    width: 0.2em;
  }
  .list-item-episodes::-webkit-scrollbar-track{
  }
   
select::-webkit-scrollbar-thumb {
    border-radius: 1.5vw;  
    background-color: rgba(255, 255, 255, 0.596);
  }
.list-item-current{
    outline: none;
    border: 0px;
    background: #0e3a63;
    color: #fff;
    border-radius: 0.2vw;
    padding: 0.5vw 0.7vw;
    margin-top: -0.2vw;
    font-family: 'gilroy-light';
}
.list-item-hr{
    width: 100%;
    height: 0.01vw;
    background: #ebebeb;
    margin-top: 1.2vw;
}
.list-item-rem{
    width: 2vw;
    margin-left: 2.5vw;
}
.list-item-rem-icon{
    width: 1.25vw;
}
.list-emp-img{
    margin-top: 4vw;
    width: 3vw;
}
.list-emp-txt{
    margin-top: 2vw;
    font-size: 1.7vw;
}
.list-emp-sub{
    margin-top: 2vw;
    color: #646464;
    font-size: 1vw;
}