.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 7.3vw;
}
.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    width: 15vw;
    margin-right: 3vw;
    justify-content: space-around;
}
.nav-button{
    background: #135eb4;
    text-decoration: none;
    font-size: 0.9vw;
    border-radius: 0.35vw;
    padding: 1.2vw 1.7vw;
    color: #fff;
}
.nav-title{
    margin-left: 7vw;
    font-family: 'gilroy-bold';
    font-size: 1.2vw;
    color: #4B4B4B;
}