.tab{
    display: flex;
    flex-direction: column;
    width: 44vw;
    background: rgb(255, 255, 255);
    margin-left: 0vw;
}
.tab-title{
    margin: 0vw;
    font-family: 'gilroy-bold';
    font-weight: 400;
    font-size: 1.58vw;
    color: #4b4b4b;
}
.tab-options{
    display: flex;
    list-style: none;
    margin: 0vw;
    padding: 0vw;
    margin-top: 1.3vw;
}
.tab-opt-item{
    margin: 1vw 0vw;
    margin-right: 2vw;
    padding: 1.25vw 2vw;
    color: #C28888;
    font-size: 0.93vw;
    border-radius: 0.6vw;
    background: #FFE9E9;
    cursor: pointer;    
}
.tab-opt-active{
    background: #f5cbcb;
    color: #fff;
}
.tab-display{
    width: 100%;
    padding-left: 0vw;
    display: flex;
    align-items: center;
    margin-top: 1.2vw;
    border-radius: 1.25vw;
    overflow-x: scroll;
}
.tab-display::-webkit-scrollbar{
   display: none;
}
.tab-skeleton{
    display: flex;
    width: 17.5vw;
    display: flex;
    background: #f0f0f0;
    flex-direction: column;
    margin-left: 0vw;
    margin-right: 1.75vw;
    border-radius: 0.75vw;
    height: 19vw;
    margin-top: 0.75vw;
    margin-bottom: 1.75vw;
}
.tab-sk-img{
    width: 12vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    border-radius: 0.5vw;
    height: 2.5vw;
    margin-top: 1.7vw;
    background: #e0e0e0;
    background-position: center;
    background-size: cover;
}
.tab-sk-title{
    width: 8vw;
    border-radius: 0.25vw;
    margin-left: 1.5vw;
    font-family: 'gilroy-bold';
    height: 1.05vw;
    margin-top: 1vw;
    background: #e0e0e0;
}.tab-sk-button{
    width: 6vw;
    border-radius: 0.5vw;
    margin-left: 1.5vw;
    height: 3vw;
    margin-top: 7.5vw;
    background: #e0e0e0;
}
.tab-sk-shimmer{
    width: 3vw;
    height:20vw;
    position: absolute;
    background: #f0f0f0;
    animation: shim infinite 1.4s;
    box-shadow: 0px 0px 50px  #f0f0f0;
}


.tab-card{
    display: flex;
    display: flex;
    flex-direction: column;
    margin-left: 0vw;
    margin-right: 1.9vw;
    border-radius: 0.8vw;
    height: 19vw;
    margin-top: 0.75vw;
    margin-bottom: 1.75vw;
}
.tab-card-gradient{
    width: 100%;
    height: 100%;
    border-radius: 0.8vw;
    background: #2e2e2ecb;
}
.tab-card-rec{
    height: 4vw;
}
.tab-card-title{
    margin-left: 1.6vw;
    margin-right: 1.6vw;
    margin-top: 1.6vw;
    width: 12vw;
    font-family: 'gilroy-bold';
    font-size: 1.15vw;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    line-height: 32px;
}
.tab-card-rating{
    color: #fff;
    font-size: 0.9vw;
    margin-left: 1.6vw;
}
.tab-card-button{
    width: 5.3vw;
    font-family: 'gilroy-bold';
    border-radius: 0.55vw;
    display: flex;
    font-size: 0.9vw;
    align-items: center;
    justify-content: center;
    margin-left: 1.5vw;
    height: 3vw;
    margin-top: 8.3vw;
    color: rgb(26, 26, 26);
    background: #ffffff;
    cursor: pointer;
}
@keyframes shim {
    0%{
        transform: translateX(-10px) skewX(-0deg);
        opacity: 0;
    }
    10%{
        opacity: 0.7;
    }
    20%{
        opacity: 0;
        transform: translateX(190px) skewX(-0deg);
    }
    100%{
        opacity: 0;
    }
}